@import 'colours';
@import 'measurements';
@import "conditionals";
@import "typography";
@import "shims";

.example {
  @extend %contain-floats;
  position: relative;
  overflow: hidden;
  border-top: 1px dotted $grey-2;
  border-bottom: 1px dotted $grey-2;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
  padding-top: $gutter;
  padding-bottom: $gutter-half;
  padding-left: 3px;

  @include media(tablet) {
    padding-top: $gutter*1.5;
    padding-bottom: $gutter-half;
    padding-left: 3px;
  }

  &:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: em(4) em(15) em(4) em(15);
    @include core-14;
    background: $grey-2;
    color: white;
  }
}
