- @page_title = 'Examples'

%h1.heading-xlarge
  %span.heading-secondary GOV.UK elements
  Rails form builder examples

%p.lede
  Use form builder
  helper methods to develop form-based applications in Ruby on Rails.

.grid-row
  .column-one-third
    %h2.heading-medium
      = link_to 'Form elements', form_elements_path
    %p
      Form fields, labels, focus states, radio buttons, checkboxes.
  .column-one-third
    %h2.heading-medium
      = link_to 'Errors and validation', error_validation_path
    %p
      Summary boxes, highlighting errors in forms.
  .column-one-third

.grid-row.divider
  .column-two-thirds
    %h3.heading-small
      Looking for the software code?
    %p
      The source code for <a href="https://github.com/ministryofjustice/govuk_elements_form_builderl" rel="external">form builder can be found on GitHub</a>.
    %h3.heading-small
      Want to discuss these helpers?
    %p
      <a href="https://github.com/ministryofjustice/govuk_elements_form_builder/issues" rel="external">Raise an issue on our GitHub repo</a>.
