- @page_title = 'GovUK Elements Rails Guide'
- @app_title = 'GovUK Elements Rails Guide'

%h1.heading-large GOV.UK elements rails snippets

%p GOV.UK elements Rails view helpers can be used to help with prototyping.

%h2.heading-medium Forms

= render partial: 'helper_example',
      locals: { label: 'Text inputs', code: 'f.text_field :name', model: Person }

= # render partial: 'helper_example',
      locals: { label: 'Textarea inputs', code: 'f.text_area :name' }

= # render partial: 'helper_example',
      locals: { label: 'Radio buttons',
        code: "f.radio_buttons(:status, %i[ accepted declined ], inline: true, labeler: ->(v){ t(v, scope: 'invitations.statuses') })" }

